.body {
	min-width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}
.vertical-nav {
	background: white;
	width: 16rem;
	height: auto;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
	border-radius: 5px;
	margin-left: 5px;
	text-align: center;
	margin-top: 30px;
}
.page-content {
	width: calc(100%-17rem);
	margin-left: 17rem;
	transition: all 0.4s;
}
#intro-pic {
	width: 50rem;
	height: 40rem;
}
#sidebar.active {
    margin-left: -15rem;

}
#content.active {
	width: 100%;
	margin: 0;
}

@media (max-width: 768){
   #sidebar {
	   margin-left: -17rem;
   }
   #sidebar.active {
	   margin-left: 0;
   }
   #content {
	   width: 100%;
	   margin: 0;
   }
   #content.active {
	   margin-left: 17rem;
	   width: calc(100% - 17rem);
   }
}


